<div class="{{ 'rating' ~ stadium.id }}">
    <div class="star" data-score={{ stadium.score }} data-id={{ stadium.id }}></div>
    <span class="stadium_amount">{{ stadium.amount }}</span> oy ile, 5 üzerinden
    <span class="stadium_score">{{ stadium.score }}</span> puan.
</div>