{% extends '::base.html.twig' %}
{% block content %}
    {% for stadium in stadiums %}
        <div class="stadium">
            <div class="stadium_element">
            {{ stadium.name }}
                <br/>
            {{ stadium.address }}
            </div>
            <div class="stadium_element">
                {{ stadium.amount}} oy ile, 5 üzerinden {{ stadium.score }} puan.
            </div>
            <div class="stadium_element">
                {{ stadium.district.name }}
            </div>
            <div class="stadium_element">
                {% for facility in stadium.facilities %}
                    {{ facility.name }},
                    {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}